.vs/TownBuilder/v14/.suo
TownBuilder/bin/Debug/TownBuilder.dll
TownBuilder/bin/Debug/TownBuilder.dll.mdb
TownBuilder/bin/Debug/TownBuilder.dllTownBuilder.dll.mdb
TownBuilder/bin/Debug/TownBuilder.pdb
TownBuilder/obj/Debug/TownBuilder.csproj.FileListAbsolute.txt
TownBuilder/obj/Debug/TownBuilder.csprojResolveAssemblyReference.cache
TownBuilder/obj/Debug/TownBuilder.dll
TownBuilder/obj/Debug/TownBuilder.pdb
TownBuilder/obj/Debug/android/bin/packaged_resources
TownBuilder/obj/Debug/assemblies/TownBuilder.dll
TownBuilder/obj/Debug/assemblies/TownBuilder.dll.mdb
TownBuilder/obj/Debug/assemblies/TownBuilder.dllTownBuilder.dll.mdb
TownBuilder/obj/Debug/libraryprojectimports.cache
TownBuilder/obj/Debug/resolved_assemblies.txt
TownBuilder/bin/Debug/$RANDOM_SEED$
TownBuilder/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TownBuilder/obj/Debug/android/bin/classes/md505ad53466d28a1dc1ce8044092aa4acf/CCGameView.class
TownBuilder/obj/Debug/android/bin/classes/md505ad53466d28a1dc1ce8044092aa4acf/CCGameView_CCAndroidScreenReceiver.class
TownBuilder/obj/Debug/android/src/md505ad53466d28a1dc1ce8044092aa4acf/CCGameView.java
TownBuilder/obj/Debug/android/src/md505ad53466d28a1dc1ce8044092aa4acf/CCGameView_CCAndroidScreenReceiver.java
packages/CocosSharp.1.7.1.0/CocosSharp.1.7.1.0.nupkg
packages/CocosSharp.1.7.1.0/lib/MonoAndroid10/CocosSharp.dll
packages/CocosSharp.1.7.1.0/lib/MonoAndroid10/Lidgren.Network.dll
packages/CocosSharp.1.7.1.0/lib/MonoAndroid10/MonoGame.Framework.dll
packages/CocosSharp.1.7.1.0/lib/Xamarin.iOS10/CocosSharp.dll
packages/CocosSharp.1.7.1.0/lib/Xamarin.iOS10/Lidgren.Network.dll
packages/CocosSharp.1.7.1.0/lib/Xamarin.iOS10/MonoGame.Framework.Net.dll
packages/CocosSharp.1.7.1.0/lib/Xamarin.iOS10/MonoGame.Framework.Net.xml
packages/CocosSharp.1.7.1.0/lib/Xamarin.iOS10/MonoGame.Framework.dll
packages/CocosSharp.1.7.1.0/lib/Xamarin.iOS10/box2d.dll
packages/CocosSharp.1.7.1.0/lib/portable-net45+win+wpa81+wp81/CocosSharp.dll
packages/CocosSharp.1.7.1.0/lib/portable-net45+win+wpa81+wp81/MonoGame.Framework.dll
packages/CocosSharp.1.7.1.0/lib/portable-net45+win+wpa81+wp81/box2d.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/CocosSharp.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/MonoGame.Framework.Net.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/MonoGame.Framework.Net.xml
packages/CocosSharp.1.7.1.0/lib/wpa81/MonoGame.Framework.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.DXGI.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.Direct2D1.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.Direct2D1.xml
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.Direct3D11.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.Direct3D11.xml
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.MediaFoundation.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.MediaFoundation.xml
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.XAudio2.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.dll
packages/CocosSharp.1.7.1.0/lib/wpa81/SharpDX.xml
packages/CocosSharp.1.7.1.0/lib/wpa81/box2d.dll
TownBuilder/bin/Debug/TownBuilder.TownBuilder-Signed.apk
TownBuilder/bin/Debug/TownBuilder.TownBuilder.apk
TownBuilder/obj/Debug/5d82995a.deployment
TownBuilder/obj/Debug/android_debug_keystore.flag
TownBuilder/obj/Debug/android/bin/TownBuilder.TownBuilder.apk
TownBuilder/obj/Debug/android/bin/resources_and_assemblies
