.vs/TownBuilder/v14/.suo
TownBuilder/bin/Debug/TownBuilder.dll
TownBuilder/bin/Debug/TownBuilder.dll.mdb
TownBuilder/bin/Debug/TownBuilder.dllTownBuilder.dll.mdb
TownBuilder/bin/Debug/TownBuilder.pdb
TownBuilder/obj/Debug/TownBuilder.csproj.FileListAbsolute.txt
TownBuilder/obj/Debug/TownBuilder.csprojResolveAssemblyReference.cache
TownBuilder/obj/Debug/TownBuilder.dll
TownBuilder/obj/Debug/TownBuilder.pdb
TownBuilder/obj/Debug/android/bin/packaged_resources
TownBuilder/obj/Debug/assemblies/TownBuilder.dll
TownBuilder/obj/Debug/assemblies/TownBuilder.dll.mdb
TownBuilder/obj/Debug/assemblies/TownBuilder.dllTownBuilder.dll.mdb
TownBuilder/obj/Debug/libraryprojectimports.cache
TownBuilder/obj/Debug/resolved_assemblies.txt
